<%- include('header', { title: "logout"})%> 
    <h1 class="container justify-content-center form-container">Log out</i></h1>
    <div class="container justify-content-center form-container">
    <h2>you have been logged out</h2>
    </div>
   <%- include('footer')%> 