<%- include('header', { title: "sign up"})%>
<div class="container">
  <div class="card container head-info-container login-container">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true"
            >Log In</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Sign Up</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sign Up</h5>
      <form action="/signup" method="POST">
        <label class="subheader" for="email">Email</label>
        <br />
        <input type="email" , id="email" , name="email" /><br />
        <label class="subheader" for="password">Password</label>
        <br />
        <input type="password" , id="password" , name="password" /><br />
        <div><br /></div>
        <input class="button240" type="submit" value="GO" />
      </form>
    </div>
  </div>
</div>
<%- include('footer')%>
