body {
  background-color: rgb(213, 225, 241);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.product-qty-input {
  width: 100px;
}

.container {
  max-width: 600px;
}

select {
  height: 30px;
  padding: 2px;
  width: 199px;
  background-color: transparent;
  /* border-radius: 10px; */
  border: none;
  border-bottom: 1px solid rgb(175, 175, 175);
}

input[type="date"],
input[type="text"],
input[type="integer"] {
  height: 30px;
  padding: 2px;
  width: 199px;
  background-color: transparent;
  /* border-radius: 10px; */
  border: none;
  border-bottom: 1px solid rgb(23, 81, 206);
}

input[type="submit"] {
  background-color: rgb(23, 81, 206);
  border: none;
  border-radius: 10px;
  color: white;
  height: 30px;
  margin-left: 2px;
}

.button240 {
  width: 240px;
  border-radius: 10px;
}

.head-info-container {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 275px;
  margin-left: 12px;
  margin-bottom: 10px;
}

label,
th {
  /* margin-top: 5px; */
  color: rgb(80, 80, 80);
}

label {
  border-bottom: rgb(175, 175, 175) solid 1px;
}

table {
  margin-bottom: 15px;
  margin-top: 5px;
}

h1 {
  color: rgb(23, 81, 206);
}

p {
  margin-bottom: 0;
}

text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.scroll-table {
  overflow-x: auto;
}

/* font size */
p,
label,
input,
select {
  font-size: 14px;
}
